*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}

.relative{
    position: relative;
}

.dimension{
    width: 30%;
    margin: 0 5px;
}

.absolute{
    position: absolute;
}

.product{
    display: inline-block;
}

.row{
    margin-top: 30px;
    height: 50%;
}

img{
    width: 100%;
}

.img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.hover-block{
    display: inline-block;
    position: relative;
}

.hover-block:hover .img-top{
    display: inline;
}

.sconto-item{
    left: 0;
    bottom: 20px;
    z-index: 6;
}

.sconto{
    color: white;
    padding: 3px 6px;
    font-family: monospace;
}

.sconto-alto{
    background-color: rgb(235, 0, 55);
}

.sconto-descrizione{
    background-color: rgb(0, 135, 90);
}

.block{
    display: block;
}

.descrizione-item{
    margin-bottom: 25px; 
}
.marca-descrizione{
    font-weight: bold;
}

.new-price{
    font-weight: bold;
    font-size: smaller;
    color: red;

}

.old-price{
    text-decoration: line-through;
}

.cuore{
    right: 0;
    top: 20px;
    background-color: white; 
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 35px;  
    z-index: 6; 
}